<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit ore
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>    
    <!--<add name="AUSACnnProd" connectionString="Data Source=192.168.0.239/sol3;Initial Catalog=dbausa;User ID=pymovil_user;Password=pymovil.user.%H" providerName="System.Data.SqlClient"/>-->
    <add name="AUSACnn" connectionString="Data Source=192.168.0.21;Initial Catalog=DBAUSA_PYMOVIL;User ID=pymovil_user;Password=pymovil.user.%H" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>

    <authentication mode="Forms"/>

    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomMembershipProvider"
            type="MvcAppRest.Models.CustomMembershipProvider"
            connectionStringName="AUSACnn"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="false"
            requiresUniqueEmail="false"
            maxInvalidPasswordAttempts="5"
            minRequiredPasswordLength="6"
            minRequiredNonalphanumericCharacters="0"
            passwordAttemptWindow="10"
            applicationName="/" />
      </providers>

    </membership>
    
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <!--<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!--<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>-->
      </assemblies>
    </compilation>      
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_SVUSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.ausa.com.pe/WS_SVU/ws_svu.asmx"
        binding="basicHttpBinding" bindingConfiguration="WS_SVUSoap"
        contract="WsAusa.WS_SVUSoap" name="WS_SVUSoap" />
    </client>
  </system.serviceModel>
</configuration>